body {
    background-color: rgb(69, 75, 102);
}



.etchsketch {
    width: 100%;
    display: block;
    position: absolute;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px pink;
    font-family: 'Press Start 2P', cursive;
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.device {
    width: 1000px;
    height: 800px;
    background-color: rgb(36, 209, 203);
    border-style: none;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxContainer {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    outline: 10px;
    outline-style: double;
    outline-color: rgb(229, 238, 206);
    border-style: solid;
    border-width: 30px;
    border-color: rgb(248, 255, 229);
    border-radius: 30px;
    box-sizing: content-box;
    justify-content: center;
}

.boxes {
    width: 30px;
    height: 30px;
    background-color: rgb(245, 245, 245);
    border-color: rgb(232, 232, 232);
    border-style: solid;
    border-width: 0.05px;
    box-sizing: border-box;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.reset {
    width: 100%;
    height: 30px;
    margin-top: 20px;
}

.resettoggle {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 30px;
    border-radius: 30px;
    border-style: none;
    background-color: pink;

    /* Grey background */
    outline: none;
    /* Remove outline */

    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider:hover {
    opacity: 0.7;
    /* Fully shown on mouse-over */
}

.resettoggle::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 30px;
    /* Set a specific slider handle width */
    height: 30px;
    /* Slider handle height */
    border-radius: 30px;
    background-color: rgb(69, 75, 102);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.sizeControl {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: none;
    background-color: pink;
}



.dark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: none;
    background-color: pink;
}

.rainbow {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: none;
    background-color: pink;
}