body {
    background-color: rgb(69, 75, 102);
}



.etchsketch {
    width: 100%;
    display: block;
    position: absolute;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px pink;
    font-family: 'Press Start 2P', cursive;
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.device {
    width: 1000px;
    height: 800px;
    background-color: rgb(36, 209, 203);
    border-style: none;
    border-radius: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 10px 20px white inset;
}

.boxContainer {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    outline: 10px;
    outline-style: double;
    outline-color: rgb(229, 238, 206);
    border-style: solid;
    border-width: 30px;
    border-color: rgb(248, 255, 229);
    border-radius: 30px;
    box-sizing: content-box;
    justify-content: center;
}

.boxes {
    width: 30px;
    height: 30px;
    background-color: rgb(245, 245, 245);
    border-color: rgb(232, 232, 232);
    border-style: solid;
    border-width: 0.05px;
    box-sizing: border-box;
}

.boxes.colored {
    background-color: rgb(38, 38, 38);
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.reset {
    width: 100%;
    height: 30px;
}

.resettoggle {
    position: relative;
    display: inline-block;
    width: 540px;
    height: 30px;
    margin-top: 20px;
}

.resettoggle input {
    opacity: 0;
    width: 0;
    height: 0;

}

.slider {
    border-radius: 30px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: pink;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 1.6s;
    transition: 1.6s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: rgb(255, 242, 168);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(510px);
}







.sizeControl {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: none;
    background-color: pink;
}



.dark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: none;
    background-color: pink;
}

.rainbow {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: none;
    margin-top: 50px;
    background-color: pink;
}